#homeSection1 {
  background-image: url(../images/homeImageOne.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat; }

#homeTeaware {
  background-image: url(../images/teaware.jpg);
  background-position: center;
  background-size: cover;
  height: 30vh; }

#homeIcedTea {
  background-image: url(../images/icedTea.jpg);
  background-position: center;
  background-size: cover;
  height: 30vh; }

#homeGifts {
  background-image: url(../images/gifts.jpg);
  background-position: center;
  background-size: cover;
  height: 30vh; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: arial; }
  * img {
    display: block;
    margin: auto; }

.stopScroll {
  overflow: hidden; }

.scroll {
  overflow-y: auto; }

.fixed {
  position: fixed;
  top: 0; }

header {
  background-color: black;
  color: white;
  width: 100vw;
  top: 0;
  position: fixed;
  z-index: 100000; }
  header .navigation {
    height: 100%; }
    header .navigation img {
      float: left; }
    header .navigation ul.mainUl {
      height: 100vh;
      display: none;
      padding: 20px; }
      header .navigation ul.mainUl li {
        list-style-type: none;
        padding: 20px;
        font-size: 2em; }
        header .navigation ul.mainUl li ul {
          display: none; }
          header .navigation ul.mainUl li ul li {
            font-size: 0.8em; }
        header .navigation ul.mainUl li a {
          color: white;
          text-decoration: none; }

.hide {
  display: none;
  transition: 2s ease-in-out; }

#homeSection1 {
  height: 80vh;
  position: relative; }
  #homeSection1 div {
    position: absolute;
    bottom: 0;
    margin: 0px 20px 10% 20px; }
    #homeSection1 div h1 {
      font-size: 2.5em;
      padding-bottom: 20px; }
    #homeSection1 div h4 {
      font-size: 1.5em; }

#homeSection2 {
  text-align: center; }
  #homeSection2 h2 {
    font-size: 2em;
    padding-top: 20px; }
  #homeSection2 h3 {
    font-size: 1.5em;
    padding: 20px; }
  #homeSection2 .homeCategories:nth-child(5) {
    display: none; }

#homeSection3 {
  text-align: center; }
  #homeSection3 div {
    margin: 50px 20px 0px 20px;
    text-align: left; }
    #homeSection3 div h2 {
      font-size: 2em; }
    #homeSection3 div h3 {
      font-size: 1.5em;
      padding-top: 5px;
      padding-bottom: 5px; }
  #homeSection3 img {
    max-width: 100%; }

#homeSection4 div {
  height: 40vh;
  position: relative; }
  #homeSection4 div span {
    position: absolute;
    bottom: 0;
    margin: 0px 20px 10% 20px; }

@media only screen and (min-width: 768px) {
  #homeSection1 {
    height: 50vh;
    font-size: 1.2em; }

  .homeCategoriesWrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px; }

  .homeCategories:nth-child(4) {
    display: none; }

  #homeSection3 {
    display: flex; }
    #homeSection3 div {
      order: 2;
      flex: 1; }
    #homeSection3 img {
      order: 1;
      flex: 1; }

  #homeSection4 div {
    height: 50vh; } }
@media only screen and (min-width: 1255px) {
  .container {
    width: 80%;
    margin: auto; }

  header {
    width: 80%; }
    header .navigation ul.mainUl {
      display: inline-block;
      height: 20px;
      display: block;
      width: 100%; }
      header .navigation ul.mainUl li {
        float: left;
        font-size: 1.5em; }
        header .navigation ul.mainUl li li:hover ul {
          display: block; }
        header .navigation ul.mainUl li .nestedUl {
          display: none;
          position: absolute;
          background-color: black;
          width: 100%;
          right: 0px;
          display: none; }
          header .navigation ul.mainUl li .nestedUl li {
            padding: 20px;
            width: 100%; }

  #homeSection1 {
    height: 90vh; }
    #homeSection1 div {
      padding: 40px; }
      #homeSection1 div h1 {
        font-size: 4em; }
      #homeSection1 div h4 {
        font-size: 3em; }

  .homeCategories:nth-child(4) {
    display: block; }

  #homeSection4 {
    margin-top: 20px;
    display: flex; }
    #homeSection4 div {
      flex: 1;
      height: 600px; }
    #homeSection4 #homeTeaware {
      flex: 1; }
    #homeSection4 #homeGifts {
      flex: 2; }
    #homeSection4 #homeIcedTea {
      flex: 1; } }

/*# sourceMappingURL=style.css.map */
