#homeSection1 {
  background-image: url(../images/homeImageOne.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

#homeTeaware {
  background-image: url(../images/teaware.jpg);
  background-position: center;
  background-size: cover;
  height: 30vh; }

#homeIcedTea {
  background-image: url(../images/icedTea.jpg);
  background-position: center;
  background-size: cover;
  height: 30vh; }

#homeGifts {
  background-image: url(../images/gifts.jpg);
  background-position: center;
  background-size: cover;
  height: 30vh; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: arial; }
  * img {
    display: block;
    margin: auto; }

.stopScroll {
  overflow: hidden; }

header {
  background-color: black;
  color: white;
  width: 100vw;
  top: 0;
  position: fixed;
  z-index: 100000; }
  header .navigation h2 {
    float: left; }
  header .navigation img {
    float: left; }
  header .navigation ul {
    display: none;
    padding: 20px; }
    header .navigation ul li {
      list-style-type: none;
      padding: 20px;
      font-size: 2em; }
      header .navigation ul li ul {
        display: none; }
        header .navigation ul li ul li {
          font-size: 0.8em; }
      header .navigation ul li a {
        color: white;
        text-decoration: none; }

.hide {
  display: none;
  transition: 2s ease-in-out; }

#homeSection1 {
  height: 80vh;
  position: relative; }
  #homeSection1 div {
    position: absolute;
    bottom: 0;
    margin: 0px 20px 10% 20px; }
    #homeSection1 div h1 {
      font-size: 2.5em;
      padding-bottom: 20px; }
    #homeSection1 div h4 {
      font-size: 1.5em; }

#homeSection2 {
  text-align: center; }
  #homeSection2 h2 {
    font-size: 2em;
    padding-top: 20px; }
  #homeSection2 h3 {
    font-size: 1.5em;
    padding: 20px; }
  #homeSection2 .homeCategories:nth-child(5) {
    display: none; }

#homeSection3 {
  text-align: center; }
  #homeSection3 div {
    margin: 50px 20px 0px 20px;
    text-align: left; }
    #homeSection3 div h2 {
      font-size: 2em; }
    #homeSection3 div h3 {
      font-size: 1.5em;
      padding-top: 5px;
      padding-bottom: 5px; }
  #homeSection3 img {
    max-width: 100%; }

#homeSection4 div {
  height: 40vh;
  position: relative; }
  #homeSection4 div span {
    position: absolute;
    bottom: 0;
    margin: 0px 20px 10% 20px; }

@media only screen and (min-width: 768px) {
  #homeSection1 {
    height: 50vh; }

  .homeCategoriesWrapper {
    display: flex; }

  .homeCategories:nth-child(4) {
    display: none; }

  #homeSection3 {
    display: flex;
    justify-content: space-between; }
    #homeSection3 div {
      order: 2;
      flex: 1; }
    #homeSection3 img {
      order: 1;
      flex: 1; }

  #homeSection4 div {
    height: 50vh; } }
@media only screen and (min-width: 1255px) {
  .container {
    width: 80vw;
    margin: auto; }

  #homeSection1 {
    height: 90vh; }

  .homeCategories:nth-child(4) {
    display: block; }

  #homeSection4 {
    margin-top: 20px;
    display: flex; }
    #homeSection4 div {
      flex: 1;
      height: 600px; }
    #homeSection4 #homeTeaware {
      flex: 1; }
    #homeSection4 #homeGifts {
      flex: 2; }
    #homeSection4 #homeIcedTea {
      flex: 1; } }

/*# sourceMappingURL=style.css.map */
