@import "variables.scss";
@import "backgroundImages.scss";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: arial;
  img{
    display: block;
    margin: auto;
  }
}

.stopScroll{
  overflow: hidden;
}

.scroll{
  // height: 100%;
  overflow-y: auto;
}

.fixed{
  position: fixed;
  top: 0;
}

header{
  background-color: black;
  color: white;
  width: 100vw;
  top: 0;
  position: fixed;
  z-index: 100000;
  .navigation{
    height: 100%;
    img{
      float: left;
    }
    ul.mainUl{
      height: 100vh;
      display: none;
      padding: 20px;
      li{
        list-style-type: none;
        padding: 20px;
        font-size: 2em;
        ul{
          display: none;
          li{
            font-size: 0.8em;
          }
        }
        a{
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.hide{
  display: none;
  transition: 2s ease-in-out;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#homeSection1{
  height: 80vh;
  position: relative;
  div{
    position: absolute;
    bottom: 0;
    margin: 0px 20px 10% 20px;
    h1{
      font-size: 2.5em;
      padding-bottom: 20px;
    }
    h4{
      font-size: 1.5em;
    }
  }
}

#homeSection2{
  text-align: center;
  h2{
    font-size: 2em;
    padding-top: 20px;
  }
  h3{
    font-size: 1.5em;
    padding: 20px;
  }
  .homeCategories:nth-child(5){
    display: none;
  }
}

#homeSection3{
  text-align: center;
  div{
    margin: 50px 20px 0px 20px;
    text-align: left;
    h2{
      font-size: 2em;
    }
    h3{
      font-size: 1.5em;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  img{
    max-width: 100%;
  }
}

#homeSection4{
  div{
    height: 40vh;
    position: relative;
    span{
      position: absolute;
      bottom: 0;
      margin: 0px 20px 10% 20px;
    }
  }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#categorySection1{
    position: relative;
    height: 80vh;
    font-size: 2em;
    #categorySection1Text{
      position: absolute;
      bottom: 0;
      margin: 0px 20px 10% 20px;
    }
}

#categorySection2{
  text-align: center;
  padding: 20px;
  h2{

  }
  ul{
    li{
      list-style-type: none;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 1.2em;
    }
  }
}

#categorySection2{
  text-align: center;
  .categoryProduct{
    margin-bottom: 20px;
    button{
      border: 0;
      background-color: $primaryColor;
      font-size: 1.2em;
      padding: 20px 50px;
      color: white;
      margin-top: 20px;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#productSection1{
  // padding: 20px;
  .productImage1{
    text-align: center;
    padding: 20px;
    img{
      width: 100%;
    }
  }
  .productInfo{
    // background-color: #f1f2f6;
    padding: 20px;
    h1{
      // padding-bottom: 10px;
    }
    h3{
      padding-bottom: 20px;
      padding-top: 20px;
    }
    ul{
      list-style-type: none;
      li{
        display: inline-block;
        background-color: white;
        border: 1px solid #e1e1e1;
        padding: 10px 20px;
        font-size: 0.8em;
      }
    }
    span{
      .addToCartButton{
        border: 0;
        background-color: $primaryColor;
        font-size: 1.2em;
        padding: 20px 50px;
        color: white;
        margin-top: 20px;
        width: 100%;
      }
      .checkoutButton{
        border: 0;
        background-color: $secondaryColor;
        font-size: 1.2em;
        padding: 20px 50px;
        width: 100%;
        color: white;
        margin-top: 20px;
      }
    }
  }
}
#productSection2{
  text-align: center;
  .categoryProduct{
    padding: 20px;
    // outline: solid red;
    button{
      border: 0;
      background-color: $primaryColor;
      font-size: 1.2em;
      padding: 20px 50px;
      color: white;
      margin-top: 20px;
    }
    h3{
      margin: 20px 0 20px 0;
    }
  }


}



@media only screen and (min-width:768px) {
  #homeSection1{
    height: 50vh;
    font-size: 1.2em;
  }

  .homeCategoriesWrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .homeCategories:nth-child(4){
    display: none;
  }

  #homeSection3{
    display: flex;
    #homeSection3Text{
      order: 2;
      flex: 1;
    }
    #homeSection3Img{
      order: 1;
      flex: 2;
    }
  }

  #homeSection4 div{
    height: 60vh;
  }

////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  #categorySection1{
    height: 50vh;
    h1{
      // font-size: 2.5em;
    }
  }

  .categoryProductsWrapper{
    display: flex;
    flex-wrap: wrap;
    .categoryProduct{
      flex: 1;
    }
  }

////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  #productSection1{
    display: flex;
    .productImage1{
      flex:1;
    }
    .productInfo{
      flex:1;
    }
  }

  #productSection2{
    h3{
      padding: 20px;
    }
    .reccomendedProductsWrapper{
      display: flex;
      justify-content: space-between;
      .categoryProduct{
        flex: 1;
        max-width: 30%;
      }
    }
  }

}

@media only screen and (min-width:1200px){
  .container{
    width: 80%;
    margin: auto;
  }

  header{
    width: 80%;
    .navigation{
      ul.mainUl{
        display: inline-block;
        height: 20px;
        display: block;
        width: 100%;
        li{
          float: left;
          font-size: 1.5em;
        li:hover ul {
          display: block;
        }
          .nestedUl{
            display: none;
            position: absolute;
            background-color: black;
            width: 100%;
            right: 0px;
            display: none;
            li{
              padding: 20px;
              width: 100%;
            }
          }
        }
      }
    }
  }

  #homeSection1{
    height: 90vh;
    div{
      padding: 40px;
      h1{
        font-size: 4em;
      }
      h4{
        font-size: 3em;
      }
    }
  }

  .homeCategories:nth-child(4){
    display: block;
  }
  #homeSection4{
    display: flex;
    div{
      flex: 1;
      height: 600px;
    }

    #homeTeaware{
      flex:1;
    }

    #homeGifts{
      flex: 2;
    }

    #homeIcedTea{
      flex: 1;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  #categorySection1{
    height: 80vh;
    // font-size:
  }

  #categorySection2{
    display: flex;

    .categoryNav{
      flex:1;
      text-align: left;
      h2{
        font-size: 2em;
        margin-bottom: 20px;
      }
    }
    .categoryProductsWrapper{
      flex: 3;
      .categoryProduct{
        width:30%;
      }
      h2{
        width: 100%;
        font-size: 2em;
        margin-bottom: 30px;
      }
    }
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////


}
