@import "variables.scss";
@import "backgroundImages.scss";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: arial;
  img{
    display: block;
    margin: auto;
  }
}

.stopScroll{
  overflow: hidden;
}

.scroll{
  // height: 100%;
  overflow-y: auto;
}

.fixed{
  position: fixed;
  top: 0;
}

header{
  background-color: black;
  color: white;
  width: 100vw;
  top: 0;
  position: fixed;
  z-index: 100000;
  .navigation{
    height: 100%;
    img{
      float: left;
    }
    ul.mainUl{
      height: 100vh;
      display: none;
      padding: 20px;
      li{
        list-style-type: none;
        padding: 20px;
        font-size: 2em;
        ul{
          display: none;
          li{
            font-size: 0.8em;
          }
        }
        a{
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.hide{
  display: none;
  transition: 2s ease-in-out;
}

#homeSection1{
  height: 80vh;
  position: relative;
  div{
    position: absolute;
    bottom: 0;
    margin: 0px 20px 10% 20px;
    h1{
      font-size: 2.5em;
      padding-bottom: 20px;
    }
    h4{
      font-size: 1.5em;
    }
  }
}

#homeSection2{
  text-align: center;
  h2{
    font-size: 2em;
    padding-top: 20px;
  }
  h3{
    font-size: 1.5em;
    padding: 20px;
  }
  .homeCategories:nth-child(5){
    display: none;
  }
}

#homeSection3{
  text-align: center;
  div{
    margin: 50px 20px 0px 20px;
    text-align: left;
    h2{
      font-size: 2em;
    }
    h3{
      font-size: 1.5em;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  img{
    max-width: 100%;
  }
}

#homeSection4{
  div{
    height: 40vh;
    position: relative;
    span{
      position: absolute;
      bottom: 0;
      margin: 0px 20px 10% 20px;
    }
  }
}

@media only screen and (min-width:768px) {
  #homeSection1{
    height: 50vh;
    font-size: 1.2em;
  }

  .homeCategoriesWrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .homeCategories:nth-child(4){
    display: none;
  }

  #homeSection3{
    display: flex;
    div{
      order: 2;
      flex: 1;
    }
    img{
      order: 1;
      flex: 1;
    }
  }

  #homeSection4 div{
    height: 50vh;
  }
}

@media only screen and (min-width:1255px){
  .container{
    width: 80%;
    margin: auto;
  }

  header{
    width: 80%;
    .navigation{
      ul.mainUl{
        display: inline-block;
        height: 20px;
        display: block;
        width: 100%;
        li{
          float: left;
          font-size: 1.5em;
        li:hover ul {
          display: block;
        }
          .nestedUl{
            display: none;
            position: absolute;
            background-color: black;
            width: 100%;
            right: 0px;
            display: none;
            li{
              padding: 20px;
              width: 100%;
            }
          }
        }
      }
    }
  }

  #homeSection1{
    height: 90vh;
    div{
      padding: 40px;
      h1{
        font-size: 4em;
      }
      h4{
        font-size: 3em;
      }
    }
  }

  .homeCategories:nth-child(4){
    display: block;
  }
  #homeSection4{
    margin-top: 20px;
    display: flex;
    div{
      flex: 1;
      height: 600px;
    }

    #homeTeaware{
      flex:1;
    }

    #homeGifts{
      flex: 2;
    }

    #homeIcedTea{
      flex: 1;
    }
  }
}
